
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 0 !important;
}


#root {
  & > .ant {
    &-layout {
      min-height: 100vh;
    }
  }
}

pre {
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.08);
  border-radius: 5px;
}

.ant {
  &-comment {
    max-width: 100%;
  }
}

.app {
  &-header, &-footer {
    background-color: #ffffff;
    padding: 0 300px;
    display: flex;
    justify-content: space-between;
    transition: padding .5s;

    &-menu {
      display: flex;
      flex-direction: row-reverse;
    }

    &-auth {
      &-dropdown {
        display: none;
      }

    }
  }

  &-footer {
    &-content {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 20px;
    }
  }

  &-logo {
    width: fit-content;
    margin-right: 30px;
    float: left;
    cursor: pointer;
    transition: color .3s;


    color: unset;

    &:hover, &:focus {
      color: #1890ff;
    }
  }

  &-content {
    padding: 50px 300px;
    transition: padding .5s;
  }


  &-main {
    &-sidebar {
      position: relative;

      & > form {
        position: sticky;
        top: 9px;
      }
    }

    &-card {
      margin-bottom: 20px;
      animation: showCards .5s;

      &-meta {
        &__top {
          font-size: 10pt;
        }
      }

      &-footer {
        display: flex;
        justify-content: space-between;
      }
    }
  }

  &-auth {
    &-wrapper {
      width: 60%;
      margin: 0 auto;
      box-shadow: 0 0 20px rgba(0, 0, 0, .25);
    }

    &-form {
      &-stepContent {
        padding: 50px 0;
      }
    }
  }

  &-icon {
    display: flex;
    align-items: center;
  }
}

.load-more-button-place {
  display: flex;
  align-content: center;
  justify-content: center;
}

.stat-card {
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.25);
  width: fit-content;
  margin: 10px;
}

.post-row {
  background-color: white;
  padding: 20px;
}

.back-btn {
  &-animated {
    &:hover, &:focus {
      .back-btn-animated-icon {
        animation: animateBackBtn infinite 1.3s;
      }
    }
  }
}

.post {
  &-content {
    padding: 16px 24px;
    background: white;

    &-body {
      padding: 0 0 16px;
    }

    &-footer {
      display: flex;
      justify-content: space-between;

      &-stats {
        &-item {
          display: flex;
          align-content: center;

          & > *:first-child {
            margin-right: 5px;
          }
        }
      }
    }
  }

  &-comment {

    &-item {
      background: white;
      padding: 16px;

      //&__moderate {
      //  background-color: #1890ff;
      //}

      & img {
        width: 40%;
      }

      & ul {
        padding-left: 18px;
      }
    }

    &-editor {
      background: white;
      padding: 0 16px;
    }
  }
}

.comment {
  &-editor {
    padding: 0 16px;
    border: 1px solid #F1F1F1;
  }
}

@keyframes showCards {
  from {
    transform: scale(0);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes animateBackBtn {
  from {
    transform: translate(0);
  }
  50% {
    transform: translate(-5px);
  }
  to {
    transform: translate(0);
  }
}

/* MEDIA */

@media (max-width: 1340px) {
  .app {
    &-content, {
      padding: 50px 200px;
    }

    &-header, &-footer {
      padding: 0 200px;
    }
  }
}

@media (min-width: 1061px) and (max-width: 1230px) {
  .app {
    &-content {
      padding: 50px 100px;
    }

    &-header, &-footer {
      padding: 0 100px;
    }
  }
}

@media (max-width: 1060px) {
  .app {
    &-content, {
      padding: 50px 50px;
    }

    &-header, &-footer {
      padding: 0 50px;
    }
  }
}

@media (max-width: 768px) {
  .app {
    &-content {
      padding: 50px 30px;
    }

    &-header, &-footer {
      padding: 0 30px;
    }

    &-auth {
      &-wrapper {
        width: 98%;
      }
    }
  }
}

@media (max-width: 425px) {
  .app {
    &-content {
      padding: 50px 20px;
    }

    &-header {
      padding: 0 20px;

      &-auth {
        &-buttons {
          display: none;
        }

        &-dropdown {
          display: unset;
        }
      }
    }

    &-auth {
      &-wrapper {
        width: 98%;
      }
    }
  }
}

